<div id="message"></div>
<%= render 'message' %>

<% if @books && !@books.empty? %>
  <table class="display" id="new_row">
    <tr>
      <th class="wider"><%= Book.human_attribute_name(:title) %></th>
      <th class="wide"><%= Book.human_attribute_name(:author) %></th>
      <th class="tight"><%= Book.human_attribute_name(:released) %></th>
      <th class="tight"><%= Book.human_attribute_name(:rating) %></th>
      <th class="tighter"><%= Book.human_attribute_name(:available) %></th>
      <th class="tighter"><%= Book.human_attribute_name(:actions) %></th>
    </tr>
    <% for book in @books do %>
      <%= render 'data_row', book: book %>
    <% end %>
  </table>
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @books %>
    </div>
    <%= will_paginate @books, container: false %>
  </div>
  <br>
<% end %>

<%= render 'form' %>

<%= render 'rateit' %>